<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularjs</title>
    <script src="angular.min.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>-->
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        名：<input type="text" ng-model="firstName"/><br/>
        姓：<input type="text" ng-model="lastName"/><br/>
        姓名：{{firstName + "" + lastName}}
    </div>
    <script>
        var app = angular.module("myApp" , []);
        app.controller('myCtrl',function($scope){
            $scope.firstName = "夏";
            $scope.lastName = "志强";
        })
    </script>





</body>
</html>