html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
header {
  width: 96%;
  height: auto;
  margin: auto;
}
header .container-fluid {
  padding: 0;
  width: 98%;
  height: auto;
  margin: auto;
  background: url("../img/ui/bg_headerhome.jpg") no-repeat top;
  background-size: 100% ;
  position: relative;
}
header .container-fluid:after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
}
header .container-fluid .left-img {
  height: 150px;
  width: 160px;
  margin: -5px 50px;
  display: inline-block;
  background: url("../img/logo_metl.png") center no-repeat;
}
header .container-fluid .font-info-bottom {
  height: auto;
  padding-right: 90px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: white;
  float: right;
}
@media screen and (max-width: 990px) {
  header .container-fluid .font-info-bottom {
    padding-right: 0;
    font-size: 19px;
  }
}
header .container-fluid .tbl-info {
  width: 100%;
  text-align: right;
  padding-right: 115px;
  margin-top: -30px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 990px) {
  header .container-fluid .tbl-info {
    text-align: left;
    padding-right: 0;
  }
}
@media screen and (max-width: 700px) {
  header .container-fluid .tbl-info {
    text-align: center;
  }
}
header .container-fluid .tbl-info span:nth-child(1) {
  color: white;
  line-height: 30px;
}
@media screen and (max-width: 990px) {
  header .container-fluid .tbl-info span:nth-child(1) {
    display: block;
  }
}
header .container-fluid .tbl-info span:nth-child(2) {
  color: #12db3a;
  line-height: 30px;
}
header .container-fluid .header-nav {
  margin: 36px 55px;
  height: 50px;
  width: 565px;
  background-color: #0c5503;
  border-radius: 7px;
  position: absolute;
  top: 25px;
  right: 0;
}
header .container-fluid .header-nav .header-nav-ul .company-info .info-list {
  position: absolute;
  top: 48px;
  width: 150px;
  display: none;
}
header .container-fluid .header-nav .header-nav-ul .company-info:hover .info-list {
  display: block;
  background-color: rgba(12, 12, 12, 0.54);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
header .container-fluid .header-nav .header-nav-ul .company-info:hover .info-list a {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
header .container-fluid .header-nav .header-nav-ul .company-info:hover .info-list a:hover {
  color: #ffffff;
}
@media screen and (max-width: 990px) {
  header .container-fluid .header-nav .header-nav-ul .company-info:hover .info-list {
    top: 71px;
    right: -81px;
  }
}
header .container-fluid .header-nav .header-nav-ul .partner .info-list {
  position: absolute;
  top: 48px;
  width: 150px;
  display: none;
}
header .container-fluid .header-nav .header-nav-ul .partner:hover .info-list {
  display: block;
  background-color: rgba(12, 12, 12, 0.54);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
header .container-fluid .header-nav .header-nav-ul .partner:hover .info-list a {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
header .container-fluid .header-nav .header-nav-ul .partner:hover .info-list a:hover {
  color: #ffffff;
}
@media screen and (max-width: 990px) {
  header .container-fluid .header-nav .header-nav-ul .partner:hover .info-list {
    top: 185px;
    right: -81px;
  }
}
header .container-fluid .header-nav .header-nav-ul li {
  padding-bottom: 10px;
  display: inline-block;
  margin: 10px 10px;
  font-size: 20px;
}
header .container-fluid .header-nav .header-nav-ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
header .container-fluid .header-nav .info-list li {
  list-style: circle;
  display: block;
}
header .container-fluid .header-nav .info-list li a {
  margin-left: -30px;
  font-size: 18px;
}
@media screen and (max-width: 990px) {
  header .container-fluid {
    height: 420px;
    background-size: 100% 100%;
  }
  header .container-fluid .font-info-bottom {
    position: absolute;
  }
  header .container-fluid .tbl-info {
    margin-left: 0;
  }
  header .container-fluid .header-nav {
    z-index: 999;
    width: 200px;
    height: auto;
  }
  header .container-fluid .tbl-info {
    float: none;
    width: 60%;
    position: relative;
    top: 100px;
  }
}
.min-width-nav {
  width: 96%;
  margin: auto;
}
.min-width-nav .minWidth-nav-ul {
  width: 98%;
  margin: auto;
  padding-left: 0;
  background: linear-gradient(to left, #248351, #128314 50%, #29834b);
  text-align: center;
}
.min-width-nav .minWidth-nav-ul li {
  list-style: none;
  line-height: 40px;
  font-size: 25px;
  width: 49%;
}
.min-width-nav .minWidth-nav-ul li a {
  text-decoration: none;
  color: white;
}
.min-width-nav .minWidth-nav-ul > li {
  display: inline-block;
  text-align: center;
  width: 200px;
}
.min-width-nav .minWidth-nav-ul .company-info {
  position: relative;
}
.min-width-nav .minWidth-nav-ul .company-info:hover .info-list {
  display: block;
}
.min-width-nav .minWidth-nav-ul .company-info .info-list {
  z-index: 999;
  position: absolute;
  width: 120px;
  left: 30%;
  border-radius: 7px;
  background-color: rgba(12, 12, 12, 0.54);
  display: none;
}
.min-width-nav .minWidth-nav-ul .company-info .info-list li {
  width: 100px;
  margin-left: -40px;
}
.min-width-nav .minWidth-nav-ul .partner {
  position: relative;
}
.min-width-nav .minWidth-nav-ul .partner:hover .info-list {
  display: block;
}
.min-width-nav .minWidth-nav-ul .partner .info-list {
  z-index: 999;
  position: absolute;
  width: 120px;
  left: 30%;
  border-radius: 7px;
  background-color: rgba(12, 12, 12, 0.54);
  display: none;
}
.min-width-nav .minWidth-nav-ul .partner .info-list li {
  width: 100px;
  margin-left: -40px;
}
.body {
  width: 94.08%;
  height: auto;
  margin: auto;
  background-color: #fbf4d2;
  border: 1px solid black;
  padding-top: 30px;
}
.body .body-container {
  width: 90%;
  height: auto;
  margin: auto;
}
.body .body-container:after {
  display: block;
  content: '';
  overflow: hidden;
  clear: both;
}
.body .body-container .container-top {
  width: 100%;
  top: 220px;
  height: auto;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #269600;
}
.body .body-container .container-top div {
  width: 90%;
  height: auto;
  margin: auto;
}
.body .body-container .container-top div ul {
  width: auto;
  height: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.body .body-container .container-top div ul li {
  display: inline-block;
  width: 200px;
  height: auto;
}
.body .body-container .container-top div ul li a {
  width: auto;
  display: block;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.body .body-container .container-bottom {
  height: 800px;
}
.body .body-container .container-bottom div:first-child {
  width: 60%;
  height: 65.5px;
  padding-left: 38px;
  margin: auto;
  background: url("../img/icon_drop.png") no-repeat;
}
@media screen and (max-width: 520px) {
  .body .body-container .container-bottom div:first-child {
    width: 100%;
  }
}
.body .body-container .container-bottom div:first-child h3 {
  font-size: 45px;
  font-weight: 700;
  color: #269601;
  line-height: 35px;
}
.body .body-container .container-bottom div:nth-child(2) {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: #dad3b0;
  border-radius: 7px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.body .body-container .container-bottom div:nth-child(2) label {
  font-size: 30px;
  font-weight: 700;
  color: gray;
}
@media screen and (max-width: 1024px) {
  .body .body-container .container-bottom div:nth-child(2) label {
    font-size: 20px;
    font-weight: 700;
  }
}
.body .body-container .container-bottom div:nth-child(2) #search {
  width: 60%;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  padding-right: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: gray;
}
@media screen and (max-width: 1024px) {
  .body .body-container .container-bottom div:nth-child(2) #search {
    width: 90%;
    margin-right: 0;
  }
}
.body .body-container .container-bottom div:nth-child(2) #search:focus {
  outline: none;
}
.body .body-container .container-bottom div:nth-child(2) button {
  border: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: 35px;
  width: 105px;
  background: url("../img/ui/btn_search.png") no-repeat center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.body .body-container .container-bottom div:nth-child(2) button:focus {
  outline: none;
}
.body .body-container .container-bottom div:nth-child(3) {
  width: 60%;
  margin: auto;
  padding-top: 30px;
  border: 1px solid black;
}
.body .body-container .container-bottom div:nth-child(3) p {
  color: gray;
}
.body .body-container .container-bottom div:nth-child(3) h4 {
  font-size: 18px;
  font-weight: 700;
  color: #269600;
}
.body .footer-info {
  width: 94%;
  height: auto;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #269600;
}
.body .footer-info div {
  width: 90%;
  height: auto;
  margin: auto;
}
.body .footer-info div ul {
  width: auto;
  height: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.body .footer-info div ul li {
  display: inline-block;
  width: 200px;
  height: auto;
}
.body .footer-info div ul li a {
  width: auto;
  display: block;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.body .footer-info div ul li a:hover {
  color: rgba(10, 84, 4, 0.55);
}
.body .page-info {
  width: auto;
  height: auto;
  padding-bottom: 50px;
}
.body .page-info small:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 500;
  display: block;
  width: 100%;
  height: auto;
  padding: 20px 0 10px 0;
  text-align: center;
}
.body .page-info small:nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
}
.body .page-info img {
  display: block;
  margin: auto;
  padding-top: 10px;
}
